.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container .btn-submit {
    background: #4db5ff !important;
    border-color: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    transition: all 0.4s ease;
    width: -webkit-max-content;
    width: max-content;
}
.home-container .btn-submit:hover {
    background: #4db5ff !important;
    border-color: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    transition: all 0.4s ease;
    width: -webkit-max-content;
    width: max-content;
}

.form-content {
    background-color: rgba(0, 0, 0, 0.3);
    width: 350px;
    padding: 2rem;
    border-radius: 1rem;
}
.form-content > h3 {
    font-size: 18px;
}

.label-text {
    font-size: 14px;
}
.login-text {
    color: hsla(0, 4%, 83%, 0.555) !important;
}
.link-text:hover {
    text-decoration: underline;
}
.eye-icon {
    position: absolute;
    z-index: 500;
    top: 10px;
    right: 10px;
}
.login-icon {
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 991px) {
}
@media (max-width: 700px) {
    .form-content {
        width: 100%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
@media (max-width: 550px) {
    .form-content {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
