@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap');

:root {
    --primary-color: #1f1f38;
    --secondary-color: #0000004d;
    --title-color: #4db5ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f38 !important;
}
.Link {
    text-decoration: none;
}
ul {
    margin-left: 0rem !important;
    padding-left: 0rem !important;
}
.form-control:focus {
    box-shadow: none !important;
}
.form-select {
    box-shadow: none !important;
}

.table {
    /* border-collapse: separate;
    border-spacing: 0 20px; */
}

.table-th {
    background-color: #1f1f38 !important;
    color: #f6f4ff !important;
    font-size: 14px !important;
    font-weight: 500;
    text-transform: capitalize;
}

.table-text {
    font-size: 14px !important;
}

.modal-title-name {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #212529 !important;
}

.custom-form label {
    font-weight: 600;
    font-size: 14px !important;
}

.form-modal-input {
    font-weight: 400;
    font-size: 14px !important;
    color: #555555;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-submit {
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 10px;
    padding: 8px 25px !important;
    border-left: 1px solid #1e2772;
    box-shadow: 0px 5px 5px #2d389e7a;
}
.btn-submit:hover {
    background-color: #102048 !important;
}

.bg-color {
    background-color: #1e2772 !important;
}
.error-text {
    font-size: 12px;
}
