@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap');

:root {
    --primary-color: #1f1f38;
    --secondary-color: #0000004d;
    --title-color: #4db5ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f38 !important;
}
.Link {
    text-decoration: none;
}
ul {
    margin-left: 0rem !important;
    padding-left: 0rem !important;
}
.form-control:focus {
    box-shadow: none !important;
}
.form-select {
    box-shadow: none !important;
}
